{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Website Title -->
  <title>BlogPost</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css'>
  

  <!-- <link href="C:\Users\Gaurav Tailor\Documents\Blog\Blog\public\static\css\styles.css" rel="stylesheet"> -->
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

 
</head>

<body>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
    <a class="navbar-brand" href="#">BlogPost</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-user"></i> Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" id="myaccount">My account</a>
            <a class="dropdown-item" id="createblog">Write Blog</a>
            <a class="dropdown-item" id="myblog">My Blogs</a>
            <a class="dropdown-item" id="logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <main>
        
    <main class="my-5">
      <div class="container">
        <!--Section: Content-->
        <section class="text-center text-md-start">
          {% for i in b %}
          
          <!-- Post -->
          <div class="row" >
            <div class="col-md-4 mb-4">
              <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <img src="{% static i.photo %}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
  
            <div class="col-md-8 mb-4">
              <h5>{{i.title}}</h5>
              <p>{{i.user}}</p>
              <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                {{i.content | safe}}
              </p>
  
              <button type="button" id="auth{{i.id}}" onclick="GetBlog('{{i.id}}')" class="btn btn-primary">Read</button>
              <button type="button" id="numvotes{{i.id}}" onclick='VoteUp("{{i.id}}")' class="btn btn-primary"><i class='fa fa-arrow-up'></i> {{i.votes}}</button>
            </div>
          </div>
          <hr>
          {% endfor %}
        </section>
  
  
  </div> 
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js'></script>
<script>


  function GetBlog(id) {
    var str = 'openblog/' + id;
    // console.log(str)
    window.location.href = str;
  }
  var token = sessionStorage.getItem('access');
  // console.log(token);
  function VoteUp(id) {

    let cookie = document.cookie
    let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
    var token = sessionStorage.getItem('access');
    // console.log(token);
    console.log('VoteUp');
    // console.log(id);
    $.ajax({
      type: 'POST',
      url: 'vote/blogs/' + id + '/voter/',
      headers: {
        'Authorization': 'Bearer ' + token,
        'X-CSRFToken': csrfToken
      },
      success: function (response) {
        // console.log(response);
        document.getElementById('numvotes' + id).innerHTML = "<i class='fa fa-arrow-up'></i>" + response.votes;
      },
      error: function (response) {
        console.log(response);
      }

    })
  }

  $('#createblog').click(function (e) {
    e.preventDefault();
    window.location.href = 'createblog';

  })
  $('#myblog').click(function (e) {
    e.preventDefault();
    var token = sessionStorage.getItem('access');
    $.ajax({
      type: "GET",
      url: "register/" + 6 + "/aboutme",
      dataType: 'json',
      headers: {
        'Authorization': 'Bearer ' + token
      },
      success: function (response) {
        window.location.href = 'myblogs/' + response.id;
        // myid = response.id;
      },
      error : function(response){
        console.log(response)
      }
    })
    

  })
  $('#myaccount').click(function (e) {
    e.preventDefault();
    window.location.href = 'myaccount';

  })
  $('#logout').click(function (e) {
    e.preventDefault();
    sessionStorage.clear();
    window.location.href = 'logout';

  })
</script>
{% load static%}