<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Website Title -->
  <title>BlogPost</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- <link href="/media/css/styles.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="text/css" href="media/css/styles.css">
  <!-- <link href="C:\Users\Gaurav Tailor\Documents\Blog\Blog\public\static\css\styles.css" rel="stylesheet"> -->
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <style>
    nav {
      background-color: blueviolet;
      margin-top: 0px;
    }

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-around;
      padding: 50px 0;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 800px;
      margin: auto 0px;
    }

    .card:hover {
      box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
      width: 850px;

    }

    .card-title:hover {
      color: blue;
      font-weight: bold;
    }

    .img-fluid {
      height: 350px;
      width: 3000px;
    }

    .btn-circle.btn-xl {
      width: 60px;
      height: 60px;
      padding: 10px 16px;
      border-radius: 35px;
      font-size: 24px;
      line-height: 1.33;
    }

    .btn-circle {
      width: 30px;
      height: 30px;
      padding: 6px 0px;
      border-radius: 15px;
      text-align: center;
      font-size: 12px;
      line-height: 1.42857;
    }

    .card-footer {
      display: flex;
      justify-content: center;
      background-color: white;
      margin: 5px;
    }
  </style>
</head>

<body>
  <!--Navbar -->
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
    <a class="navbar-brand" href="#">BlogPost</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </nav>

  <div class="container" style="display: flex;">
    <main class="my-5">
      <div class="container">
        <!--Section: Content-->
        <section class="text-center text-md-start">
          {% for i in b %}
          
          <!-- Post -->
          <div class="row" >
            <div class="col-md-4 mb-4">
              <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                <img src="{% static i.photo %}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>
  
            <div class="col-md-8 mb-4">
              <h5>{{i.title}}</h5>
              <p>{{i.user}}</p>
              <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                {{i.content | safe}}
              </p>
  
              <button type="button" id="auth{{i.id}}" onclick="GetBlog('{{i.id}}')" class="btn btn-primary">Read</button>
              <button type="button" id="numvotes{{i.id}}" onclick='VoteUp("{{i.id}}")' class="btn btn-primary"><i class='fa fa-arrow-up'></i> {{i.votes}}</button>
              <button type="button" id="auth{{i.id}}" onclick="GetUpdate('{{i.id}}')" class="btn btn-primary">Update</button>
              <button type="button" id="auth{{i.id}}" onclick="GetDelete('{{i.id}}')" class="btn btn-danger">Delete</button>
            </div>
          </div>
          <hr>
          {% endfor %}
        </section>
      </main>
  </div>
</body>
<script>
  function getimg(img) {
    const arr = img.split("/");
    var f = false;var ret = "";
    for (let i = 0; i < arr.length; i++) {
      if (arr[i] =='media'){
        f = true;
      }
      if (f == true) {
        ret += arr[i];
        ret += '/';
      }

    }
    return ret;
  }
  $(function () {
    var myid;
    var token = sessionStorage.getItem('access');
    if (token !== null) {
      // console.log("token");
      $.ajax({
        type: 'POST',
        url: 'auth/verify',
        data: {
          token: token
        },
        success: function (response) {
          try {
            if (response.code == 'token_not_valid') {
              window.location.href = 'home';
            }
          } catch {
          }
        },
        error : function(response) {
          sessionStorage.clear();
        window.location.href = 'logout';
      }
      })
    }
  })
    
  function GetBlog(id) {
    var str = 'openblog/' + id;
    // console.log(str)
    window.location.href = str;
  }

  function GetDelete(id) {
    // console.log('GetDelete called')
    let cookie = document.cookie
    let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
    var token = sessionStorage.getItem('access');
    $.ajax({
      type: 'DELETE',
      url: 'myblogs/blogs/' + id,
      headers: {
        'Authorization': 'Bearer ' + token,
        'X-CSRFToken': csrfToken
      },
      success: function (response) {
        // console.log('Deleted');
        // console.log(response);
        location.reload();
      },
      error: function (response) {
        // console.log('Error');
        // console.log(response);
      }
    })
  }

  function GetUpdate(id) {
    // console.log('GetUpdate called')
    window.location.href = 'update/' + id;
    $.ajax({
      type: 'PATCH',
      url: 'blogs/' + id,
      success: function (response) {
        // console.log("Updated")
        // console.log(response);
      },
      error: function (response) {
        // console.log("Error")
        // console.log(response);
      }
    })
  }

  function VoteUp(id) {
    var token = sessionStorage.getItem('access');
    let cookie = document.cookie
    let csrfToken = cookie.substring(cookie.indexOf('=') + 1)
    // console.log('VoteUp');
    // console.log(id);
    $.ajax({
      type: 'POST',
      url: 'vote/blogs/' + id + '/voter/',
      headers: {
        'Authorization': 'Bearer ' + token,
        'X-CSRFToken': csrfToken
      },
      success: function (response) {
        // console.log(response);
        document.getElementById('numvotes' + id).innerHTML = "<i class='fa fa-arrow-up'></i>" + response.votes;
      },
      error: function (response) {
        // console.log(response);
      }

    })
  }

  $('#createblog').click(function (e) {
    e.preventDefault();
    window.location.href = 'createblog';

  })
  $('#myblog').click(function (e) {
    e.preventDefault();
    window.location.href = 'myblogs';

  })
  $('#myaccount').click(function (e) {
    e.preventDefault();
    window.location.href = 'myaccount';

  })
  $('#logout').click(function (e) {
    e.preventDefault();
    sessionStorage.clear();
    window.location.href = 'logout';

  })
</script>